@import "colorpicker";
@import "simple-colorpicker";
@import "common";

@view-padding-top: 10;
@view-padding: 70px;
@default-icon-size: 20px;
@sidebar-width: 70;
@note-padding: @sidebar-width + 10;

.default-font {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
};

.default-body-background-color {
  background-color: #f5f5f5;
}

.default-fa-style(@fontSize: 14px) {
  .fa {
    color: #428bca;
    font-size: @fontSize;
    .hand-cursor;

    &:hover {
      color: #285e8e;
    }

    &.text-icon {
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.left-padding-font(@fontContent) {
  content: "\@{fontContent}";
  display: inline-block;
  font-family: FontAwesome;
  width: 14px;
  height: 16px;
  padding-left: 5px;
}

//#0172c8
//#e91124
//#de3b01
//#4e6b90
//#c99a10
//#0f9611
//#c34c2f
//#0f6eb3
//#363738
//#e8b41a
//#6d3fc6

.scroll-bar-style;

html {
  overflow: auto;
}

body {
  .default-font;
  color: #868c92;
  .default-body-background-color;
  -webkit-print-color-adjust: exact;
  height: 100%;
}

html,
body,
.viewport{
  .full-height;
}

.main-view {
  padding: ~'@{view-padding-top}px' 0;
}

.main-view,
.notes {
  height: calc(~'100% - @{view-padding-top}px');
}

h4 {
  margin: 0 0 10px 0;
}

.attention-text {
  font-weight: bold;
  color: orange;
}

.sidebar-menu {
  position: fixed;
  left: 5px;
  top: 10px;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  width: 50px;
  text-align: center;
  background-color: white;
  .rounded-corners(5px);

  .default-fa-style(40px);

  .fa {
    padding-bottom: 10px;
  }
}

.notes {
  color: black;
  margin-left: ~'@{sidebar-width}px';
  width: calc(~'100% - @{note-padding}px');

  .bootstrap-tagsinput {
    width: 100%;
  }

  .title {
    margin: 10px 0;
    padding: 0 5px;
    .white-background;
    .full-width;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
  }

  .content {
    .white-background;
    padding: 0 5px;
    overflow: hidden;
    height: calc(~'100% - 80px');
    .overflow-hidden;
    .no-outline;
    cursor: text;
    font-size: 18px;

    .not-editable {
      cursor: default;
    }

    hr {
      border-top: solid 1px darkgray;
    }

    blockquote {
      border-left: 5px solid darkgray;
    }
  }

  .default-fa-style(@default-icon-size);
  .icons {
    position: absolute;
    right: 5px;
    top: 0;
    width: 50px;
    text-align: right;

    .fa-times {
      color: #ff0000;
      opacity: 0.4;
      
      &:hover {
        opacity: 1;
      }
    }
    .fa-pencil {
      padding-left: 13px;
    }
  }
}

.clear-note {
  width: 86px;
}

.editor-toolbar {
  padding: 5px;
  .white-background;
  .full-width;
  letter-spacing: 15px;
  font-size: 25px;
  
  .colorpicker-wrap {
    width: 20px;
    .inline-block;
  }

  .colorpicker-trigger {
    border: none;
  }
}

.popover-title {
  display: none;
}
.popover {
  max-width: 1000px !important;
}

@note-title-list-width: 800px;
@date-column-width: 180px;

.note-title-list {
  height: 450px;
  width: @note-title-list-width;
  .default-fa-style(14px);

  th {
    .hand-cursor;
  }

  .link {
    .hand-cursor;
    color: blue;
  }

  .search-box {
    padding: 5px 0 !important;
    width: 100% !important;
  }

  table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 455px; /* this can vary */
  }

  thead {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: stretch;

    th {
      border-top: none !important;
    }
  }

  tbody {
    overflow-y: auto;
    display: inline-block;
  }

  thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  th, tbody td {
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: @note-title-list-width - @date-column-width;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: @date-column-width;
  }
}

.upload-text-files {
  width: 160px;
  .throbber {
    margin-top: 5px;
  }
}

.sidebar-divider {
  display: block;
  height: 200px;
}

.st-sort-ascent:after {
  .left-padding-font(f0de);
}
.st-sort-descent:after {
  .left-padding-font(f0dd);
}

.ng-hide {
  display: none !important;
}