<div ng-controller="NotesCtrl" class="main-view">
    <div class="sidebar-menu">
        <span class="fa fa-cog" colorpicker class="span2" ng-model="bgColor" title="Change Background Color"></span>
        <span class="fa fa-plus" ng-click="addNote()" title="Add Note"></span>
        <span class="fa fa-times"
              data-unique="1"
              data-placement="right"
              bs-popover="'js/view/partial/delete-note.html'"
              ng-click="setCurrentNodeToDelete()"
              title="Delete Note">
        </span>
        <span class="sidebar-divider"></span>
        <span class="fa fa-list"
              data-unique="1"
              data-placement="right"
              bs-popover="'js/view/partial/note-title-list.html'"
              ng-click="displayNoteTitles()"
              title="Show Note Title List">
        </span>
    </div>
    <div class="notes">
        <textedit afterTextEditHandler="formatNote()"></textedit>
        <div class="title"
             contenteditable="true"
             ng-model="note.title"
             ng-keyup="updateTitle()"
             placeholder="Enter title here">
        </div>
        <div id="note-content"
             class="content"
             contenteditable="true"
             placeholder="Enter content here"
             ng-model="note.content"
             strip-br="true"
             select-non-editable="true"
             ng-keyup="editNote($event)">
        </div>
    </div>
</div>
